Repository cbracco/thepizzaprojectnj.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

Update eslint config
  .eslintrc.json
Due: prettier --write

Update lintstaged glob patterns; Add lint and format npm scripts
  .lintstagedrc.json
  package.json
Due: prettier --write

Comment out lint-staged for now so I can commit latest work
  .husky/pre-commit
  .prettierrc.json
  _data/metadata.js
  _includes/header.njk
  _includes/layouts/base.njk
  _includes/layouts/home.njk
  _includes/layouts/post.njk
  _includes/postslist.njk
  _includes/subscribe-form.njk
  content/404.njk
  content/about/index.md
  content/blog.njk
  content/blog/blog.11tydata.js
  content/blog/fifthpost.md
  content/blog/firstpost.md
  content/blog/fourthpost/fourthpost.md
  content/blog/fourthpost/possum.png
  content/blog/secondpost.md
  content/blog/thirdpost.md
  content/feed/feed.11tydata.js
  content/feed/feed.njk
  content/feed/json.njk
  content/index.njk
  content/sitemap/sitemap.xml.njk
  content/tags-list.njk
  content/tags.njk
  eleventy.config.drafts.js
  eleventy.config.images.js
  eleventy.config.js
  package.json
  public/css/index.css
  public/css/message-box.css
  public/css/prism-diff.css
  public/img/breads.png
  public/img/instagram.svg
  public/img/logo.svg
  public/img/pizzas.png
  public/img/slice-pesto-white.png
  tailwind.config.js
Due: prettier --write, stylelint --fix, eslint --fix

Add simple Eventbrite API integration
  .gitignore
  _data/eventbrite.js
  _data/metadata.js
  content/index.njk
  eleventy.config.js
  package.json
Due: prettier --write, eslint --fix

Add a few @TODOs; Add ticket_classes to eventbrite API call
  _data/eventbrite.js
  _includes/header.njk
  content/index.njk
  public/css/index.css
Due: prettier --write, stylelint --fix, eslint --fix

Empty state for events section
  content/index.njk
Due: prettier --write

Add github workflow; Minor styling updates
  .github/workflows/build.yml
  CNAME
  LICENSE
  _includes/subscribe-form.njk
  package.json
  public/css/index.css
  public/img/breads.png
  public/img/instagram.svg
  public/img/logo.svg
  public/img/pizzas.png
  public/img/slice-pesto-white.png
Due: prettier --write, stylelint --fix

Update README
  README.md
Due: prettier --write

Add workflow_dispatch to GH action
  .github/workflows/build.yml
Due: none

Update node version
  .github/workflows/build.yml
  .nvmrc
Due: none

Commit package-lock.json file
  .gitignore
  package-lock.json
Due: prettier --write

Update styles
  public/css/index.css
Due: stylelint --fix

Add auto-cache plugin
  eleventy.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Add favicons
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/site.webmanifest
Due: none

Update base for favicons
  _includes/layouts/base.njk
Due: prettier --write

Update GitHub action workflow
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

Install deps
  .github/workflows/deploy.yml
Due: none

Update publish_dir
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

Update deploy workflow
  .github/workflows/deploy.yml
Due: none

Delete workflow and use default github workflow
  .github/workflows/deploy.yml
Due: none

Remove tailwind and netlify
  eleventy.config.js
  netlify.toml
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier --write, eslint --fix

Add GA tag
  _data/metadata.js
  _includes/layouts/base.njk
Due: prettier --write, eslint --fix

Add back GH workflow
  .github/workflows/build-eleventy.yml
Due: none

Force node version
  .github/workflows/build-eleventy.yml
Due: none

Install deps
  .github/workflows/build-eleventy.yml
Due: none

Trying to get node version to work
  .github/workflows/build-eleventy.yml
Due: none

Syntax error
  .github/workflows/build-eleventy.yml
Due: none

Variable name changes
  .github/workflows/build-eleventy.yml
Due: none

try different build/deploy action
  .github/workflows/build-eleventy.yml
Due: none

command typo
  .github/workflows/build-eleventy.yml
Due: none

Diff workflow
  .github/workflows/build-eleventy.yml
Due: none

Use github token
  .github/workflows/build-eleventy.yml
Due: none

Typo
  .github/workflows/build-eleventy.yml
Due: none

Workflow
  .github/workflows/build-eleventy.yml
Due: none

Pass through CNAME file to prevent custom domain resetting after every deploy
  eleventy.config.js
Due: eslint --fix

Add robots.txt
  content/robots.njk
Due: prettier --write

Implement dotenv
  .github/workflows/build-eleventy.yml
  .gitignore
  _data/eventbrite.js
  eleventy.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Debug: print api key
  .github/workflows/build-eleventy.yml
Due: none

Move env secret to step
  .github/workflows/build-eleventy.yml
Due: none

Path conditions:
  prettier --write: any of: *.{11ty.js,ejs,haml,hbs,html,json,liquid,md,mustache,njk,pug,webc}
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.js
