Repository cbracco/thepizzaprojectnj.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
    "*": ["prettier --write"],
    "**/*.css": ["stylelint --fix"],
    "**/*.js": ["eslint --fix"]
}

remove console.log statements
  eleventy.config.js
Due: prettier --write, eslint --fix

Add miscEvents and merge data with Eventbrite data
  src/_data/eventbrite.js
  src/_data/events.js
  src/_data/miscEvents.js
  src/index.njk
Due: prettier --write, eslint --fix

Filter out upcoming events at build time
  src/_data/events.js
  src/index.njk
Due: prettier --write, eslint --fix

Add link to shop
  src/_includes/header.njk
  src/styles/nav.css
  src/styles/variables.css
Due: prettier --write, stylelint --fix

Initial pass at landing page build
  eleventy.config.js
  src/index.njk
Due: prettier --write, eslint --fix

Fix webfonts
  .prettierignore
  src/static/fonts/AlbertSans-Bold.woff
  src/static/fonts/AlbertSans-Bold.woff2
  src/static/fonts/AlbertSans-BoldItalic.woff
  src/static/fonts/AlbertSans-BoldItalic.woff2
  src/static/fonts/AlbertSans-Italic.woff
  src/static/fonts/AlbertSans-Italic.woff2
  src/static/fonts/AlbertSans-Regular.woff
  src/static/fonts/AlbertSans-Regular.woff2
  src/static/fonts/Bayard-Regular.eot
  src/static/fonts/Bayard-Regular.woff
  src/static/fonts/Bayard-Regular.woff2
  src/static/fonts/anton-regular-webfont.woff
  src/static/fonts/anton-regular-webfont.woff2
  src/static/fonts/opposit-extrabold-webfont.woff
  src/static/fonts/opposit-extrabold-webfont.woff2
  src/static/fonts/opposit-regular-webfont.woff
  src/static/fonts/opposit-regular-webfont.woff2
Due: prettier --write

Typo in webfont reference
  src/styles/webfonts.css
Due: prettier --write, stylelint --fix

Favicons and OG image
  src/_includes/layouts/base.njk
  src/static/android-chrome-192x192.png
  src/static/android-chrome-512x512.png
  src/static/apple-touch-icon.png
  src/static/browserconfig.xml
  src/static/favicon-16x16.png
  src/static/favicon-32x32.png
  src/static/favicon-96x96.png
  src/static/favicon.ico
  src/static/favicon.svg
  src/static/mstile-150x150.png
  src/static/open-graph.jpg
  src/static/site.webmanifest
  src/static/web-app-manifest-192x192.png
  src/static/web-app-manifest-512x512.png
Due: prettier --write

add meta description
  src/_data/metadata.js
Due: prettier --write, eslint --fix

Update metadata
  src/_data/metadata.js
Due: prettier --write, eslint --fix
