Repository cbracco/thepizzaprojectnj.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
    "*": ["prettier --write"],
    "**/*.css": ["stylelint --fix"],
    "**/*.js": ["eslint --fix"]
}

try allenevans/set-env
  .github/workflows/build-eleventy.yml
Due: prettier --write

Fix typo
  .github/workflows/build-eleventy.yml
Due: prettier --write

Update version
  .github/workflows/build-eleventy.yml
Due: prettier --write

Add back env secret
  .github/workflows/build-eleventy.yml
Due: prettier --write

node 18 in github action
  .github/workflows/build-eleventy.yml
Due: prettier --write

npm version to engines
  package.json
Due: prettier --write

Try to build with npm instead of actions-eleventy
  .github/workflows/build-eleventy.yml
Due: prettier --write

syntax error
  .github/workflows/build-eleventy.yml
Due: prettier --write

Pin actions/checkout to v3
  .github/workflows/build-eleventy.yml
Due: prettier --write

Copy change
  content/index.njk
Due: prettier --write

Try GitHub Actions beta workflow
  .github/workflows/build-eleventy.yml
Due: prettier --write

main branch
  .github/workflows/build-eleventy.yml
Due: prettier --write

copy change
  content/index.njk
Due: prettier --write

Alt text change
  content/index.njk
Due: prettier --write

Update alt text
  _includes/header.njk
  content/index.njk
Due: prettier --write

Add @TODO
  .husky/pre-commit
Due: prettier --write

Fix prod CSS bundling
  _includes/layouts/base.njk
  package.json
Due: prettier --write

Inline CSS on prod
  _data/metadata.js
  _includes/layouts/base.njk
  eleventy.config.js
Due: prettier --write, eslint --fix

Revert postcss config
  eleventy.config.js
Due: prettier --write, eslint --fix

Use webp images
  _includes/header.njk
  content/index.njk
  public/img/breads.webp
  public/img/pizzas.webp
  public/img/slice-pesto-white.webp
Due: prettier --write

Optimize images and update styles
  content/index.njk
  eleventy.config.images.js
  public/css/index.css
  public/img/bread-1.webp
  public/img/bread-2.webp
  public/img/bread-3.webp
  public/img/bread-4.webp
  public/img/bread-5.webp
  public/img/breads.png
  public/img/breads.webp
  public/img/pizza-1.webp
  public/img/pizza-2.webp
  public/img/pizza-3.webp
  public/img/pizza-4.webp
  public/img/pizza-5.webp
  public/img/pizzas.png
  public/img/pizzas.webp
  public/img/slice-pesto-white.png
Due: prettier --write, stylelint --fix, eslint --fix

Add OG tags
  src/_includes/layouts/base.njk
Due: prettier --write

Update OG image
  src/_includes/layouts/base.njk
  src/static/open-graph.jpg
Due: prettier --write

Minor cleanup
  src/_data/metadata.js
Due: prettier --write, eslint --fix

Remove completed @todo comments
  src/_data/eventbrite.js
Due: prettier --write, eslint --fix

Remove unused HTML
  src/_includes/layouts/base.njk
Due: prettier --write

Fix linting and formatting
  .github/workflows/build-eleventy.yml
  .husky/pre-commit
  .prettierrc.json
  eleventy.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/_data/eventbrite.js
  src/_data/metadata.js
  src/_includes/subscribe-form.njk
  src/styles/divider.css
  src/styles/index.css
  src/styles/marquee.css
  src/styles/subscribe-form.css
  src/styles/variables.css
  src/styles/webfonts.css
Due: prettier --write, stylelint --fix, eslint --fix

Update postcss plugins; Update README; Add browserslist to package.json
  README.md
  package-lock.json
  package.json
  postcss.config.js
Due: prettier --write, eslint --fix

Typo
  src/index.njk
Due: prettier --write

Switch to GTM tag
  src/_data/metadata.js
  src/_includes/layouts/base.njk
Due: prettier --write, eslint --fix

Add status check to events
  src/index.njk
Due: prettier --write

Update events section conditionals to account for completed events
  src/index.njk
Due: prettier --write

Copy updates
  src/_data/metadata.js
  src/index.njk
Due: prettier --write, eslint --fix

Add press section
  src/_data/press.js
  src/_includes/header.njk
  src/index.njk
  src/styles/content.css
  src/styles/nav.css
  src/styles/variables.css
Due: prettier --write, stylelint --fix, eslint --fix

Update press
  src/_data/press.js
  src/index.njk
Due: prettier --write, eslint --fix

Update :hover styles; Update press section
  src/index.njk
  src/styles/base.css
Due: prettier --write, stylelint --fix
